[Unit]
Description=NDService-zram
After=dcam.service

[Service]
Type=oneshot
ExecStart=/usr/bin/ndzramconfig.sh

[Install]
WantedBy=multi-user.target
