[Unit]
Description=NDService-Bagheera
After=console.service ntdi_bag3.service
Wants=console.service ntdi_bag3.service

[Service]
TimeoutStartSec=5
TimeoutStopSec=5
KillMode=mixed
SendSIGKILL=yes
OOMScoreAdjust=-1000
ExecStartPre=/bin/sleep 2

ExecStart=/home/ubuntu/bin/wrapper_service.sh bagheera

Restart=always
RestartSec=10s

[Install]
WantedBy=graphical.target 

