#  (This service is used to start a POR just before gracefull reboot completes

[Unit]
Description=##########___ND_REBOOT_____##########
DefaultDependencies=no
Before=reboot.target

[Service]
Type=oneshot
KillMode=mixed
SendSIGKILL=no
ExecStart=/home/ubuntu/.nddevice/latest/service/nd_shutdown/nd_shutdown.sh 0 
TimeoutStartSec=0

[Install]
WantedBy=reboot.target
