#  (This service is used to start a POR just before gracefull reboot completes

[Unit]
Description=##########___ND_SHUTDOWN___##########
DefaultDependencies=no
Before=poweroff.target

[Service]
Type=oneshot
KillMode=mixed
SendSIGKILL=no
ExecStart=/home/ubuntu/.nddevice/latest/service/nd_shutdown/nd_shutdown.sh 1
TimeoutStartSec=0

[Install]
WantedBy=poweroff.target
