[Unit]
Description=NDService-update_recovery

[Service]
TimeoutStartSec=1
TimeoutStopSec=5
KillMode=mixed
SendSIGKILL=yes

ExecStart=/home/ubuntu/.nddevice/ota_temp/run_as_root/update_recovery.sh

Restart=no
RestartSec=100000s

[Install]
WantedBy=multi-user.target


