[Unit]
Description=NDService-apm


[Service]
TimeoutStartSec=1
TimeoutStopSec=5
KillMode=mixed
SendSIGKILL=yes

ExecStart=/home/ubuntu/bin/wrapper_service.sh apm 

Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target

