[Unit]
Description=NDService-ext_cam

[Service]
TimeoutStartSec=5
TimeoutStopSec=5
KillMode=mixed
SendSIGKILL=yes

#ExecStartPre=/bin/sleep 2
#ExecStart=/home/ubuntu/.nddevice/latest/service/ext_cam/ext_cam
ExecStart=/home/ubuntu/bin/wrapper_service.sh ext_cam

Restart=on-failure
RestartSec=10s

[Install]
WantedBy=graphical.target 
