[Unit]
Description=NDService-InternalBuffer
#After=ntdi_icdc.service

[Service]
TimeoutStartSec=1
TimeoutStopSec=5
KillMode=mixed
SendSIGKILL=yes

ExecStart=/home/ubuntu/bin/wrapper_service.sh internal_buffer

Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
